<h1> this is products#new</h1>

<%= form_for @product do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br><br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
    <br><br>
  <div>
    <%= f.label :price %>
    <%= f.text_area :price %>
  </div>
  <br><br>
    <div class ="">
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
    <br><br>
  </div>
  <div class = "form group">
    <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name,
                          {},
                          { multiple: true, class: 'chosen-select', style: 'width: 400px' } %>
  </div>
    <br><br>
  <%= f.submit %>
  <% end %>
