<h1><%=  @product.title %></h1>
<p><%= @product.description %></p>
<p><%= @product.user.first_name %></p>

<p>Tags: <%= @product.tags.map(&:name).join(', ') %></p>

<%= link_to 'Edit', edit_product_path(@product) %>

<%= link_to 'Delete', product_path(@product),
method: :delete,
data: {confirm: 'are you sure'}%>

<h1>Reviews</h1>

<%= form_for [@product, @review] do |r| %>
<%= r.text_area :body %>
<%= r.submit %>
<% end %>

<% @product.reviews.each do |review|%>
<p><%= review.user.first_name %></p>
<p><%= review.body %></p>
<% if user_signed_in? && @review.liked_by?(current_user) %>
    <%= link_to(
      fa_icon("heart"),
      review_like_path(@product, review, review.like_for(current_user)),
      method: :delete
    ) %>
  <% else %>
    <%= link_to fa_icon("heart-o"), product_path(@product, review), method: :post %>
<span><%= pluralize(review.likes.count, 'like') %></span>
  <% end %>
<% end  %>
